<% if user_signed_in? %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Koken à la Frits", recipes_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">

            <li><%= link_to "Recipes", recipes_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>

        </ul>
      </nav>
    </div>
  </div>
</header>
<% else %>
<% end %>